.nav-container{
    background: #31708e;
    margin-bottom: 15px;

}
.menu-title{
    color:#fff;
}
.mat-icon{
    color:#fff;
}
.dashboard{
    margin-top: 5px;
    margin-right: 5px;

}


button:focus{
    outline: 0px auto -webkit-focus-ring-color;

}

/deep/ .mat-menu-panel{
    background: #31708e;
    color: #fff;  
}

/deep/ .mat-menu-item{
    color: #fff;  
}