<!-- <div class="container-fluid">
    <button routerLink="" routerLinkActive="active" mat-button>Home</button>
    <button routerLink="/stock" routerLinkActive="" mat-button>stock</button>
    <button routerLink="/bill" routerLinkActive="" mat-button >bill</button>
</div> -->

<div class="container-fluid">
  <div class="row">  
    <div class="col-md-12 nav-container">
       
        
        <div class="row">
          <div class="col-md-6">
             <span class="menu-title">Billing APP</span>
          </div>
          <div class="col-md-6">
              <div class="right">
                  <button mat-button [matMenuTriggerFor]="menu" class="menu-title">
                      <mat-icon matTooltip="Menu">fingerprint</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="">Home</button>
                    <button mat-menu-item routerLink="/stock" >Stock Entry</button>
                    <button mat-menu-item routerLink="/bill">Billing</button>
                  </mat-menu>
              </div>
              <div class="right">
                  <mat-icon matTooltip="Dashboard" class="dashboard">dashboard</mat-icon>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

