.mat-card{
    margin: 15px 0px 15px 0px;
}
.add-icon-top{
    margin-top: 10px;
    margin-right: 25px;
}
.search-icon{
    position: relative;
    top:10px;
}
.searchInput{
    border: 0px;
    border-bottom: 1.5px solid lightgray;
    width: 75%;
    
    &:focus{
        border-color: #fff;
    }
}