<div class="row">
  <div class="col-md-12">
      <div class="text-center">Stock List</div>
    <mat-card class="tool-card">
          <div class="row">
            <div class="col-md-6">
                <div class="left add-icon-top func_Icon">
                    <mat-icon matTooltip="Add Stock" (click)="openDialog()">add</mat-icon>
                </div>
                <div class="left add-icon-top func_Icon">
                    <mat-icon matTooltip="Download Excel" (click)="downloadExcelFile()">vertical_align_bottom</mat-icon>
                </div>
                <div class="left add-icon-top func_Icon">
                  <mat-icon matTooltip="Print" (click)="print()">print</mat-icon>
              </div>
            </div>
            <div class="col-md-6">
              
                  <mat-icon class="search-icon">search</mat-icon><input  class="searchInput"  (keyup)="applyFilter($event.target.value)" placeholder="Search">
              
          </div>
          </div> 
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
     
    <table mat-table [dataSource]="dataSource" class="col-md-12">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</td>
        <td mat-footer-cell *matFooterCellDef> Total ₹ </td>
      </ng-container>
      <ng-container matColumnDef="UID">
          <th mat-header-cell *matHeaderCellDef>UID</th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.stockUID}}</td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        <ng-container matColumnDef="productID">
            <th mat-header-cell *matHeaderCellDef>Product ID</th>
            <td mat-cell *matCellDef="let element"> {{element.productId}}</td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>
      <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.purchaseDate}}</td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

      <!-- Name Column -->
      
      <ng-container matColumnDef="stockName">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element"> {{element.productName}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="stockQuan">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.productQunatity}} / {{element.productAvailableQuantity}}</td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <ng-container matColumnDef="stockPrice">
        <th mat-header-cell *matHeaderCellDef>Price Per Product</th>
        <td mat-cell *matCellDef="let element">{{element.productPrice}}</td>
        <td mat-footer-cell *matFooterCellDef>{{getTotalCost()}}  </td>
      </ng-container>
      <ng-container matColumnDef="stockGST">
          <th mat-header-cell *matHeaderCellDef>GST</th>
          <td mat-cell *matCellDef="let element"> {{element.productGST}} %</td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

      <ng-container matColumnDef="stockTotal">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> 
              
              <mat-icon class="left func_Icon" matTooltip="Delete Stock" (click)="del(element.$Key)">clear</mat-icon>
              <mat-icon class="left func_Icon" matTooltip="Update Stock"
              (click)="update(element.$Key,
                              element.stockUID,
                              element.productId,
                              element.purchaseDate,
                              element.productName,
                              element.productQunatity,
                              element.productPrice,
                              element.productGST,
                              element.totalPrice
                                          )">
              create</mat-icon>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


            

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator [length]="pageLength"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

