<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <div>Welcome!!</div>
    </div>
  </div>

</div>
<div class="land-background" style="display:none">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-3 gridFace">
      <div>
         COFEE
      </div>
    </div>
    <div class="col-md-3 gridFace">
        <div>
            TEA
         </div>
      </div>
      <div class="col-md-3 gridFace">
          <div>
              BISCUITS
           </div>
        </div>
        <div class="col-md-3 gridFace">
          sdfa
        </div>
        <div class="col-md-3 gridFace">
            sdf
          </div>
          <div class="col-md-3 gridFace">
            dsfa
            </div>
            <div class="col-md-3 gridFace">
                asdf
              </div>
              <div class="col-md-3 gridFace">
                sdfa
              </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
      <h3>Navilan</h3>

  </div>
</div>
<router-outlet></router-outlet>