<div class="row">
  <div class="col-md-6">
    <div>
      
      <mat-card class="tag">
        <label>BID : {{BID}}</label><br>
        <label>Date: {{ currentDate }}</label><br>
        <label>Contact :</label><br>
      </mat-card>


    </div>
  </div>
  <div class="col-md-6">
    <mat-icon class="functionIcon"  matTooltip="Add Item" (click)="addRow()">add</mat-icon>
    <mat-icon class="functionIcon"  matTooltip="Reset">cached</mat-icon>
    <button mat-button  class="submit" (click)="bill(formBilling.value)"> Billing </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" >
   <form [formGroup]="formBilling" (ngSubmit)="bill(formBilling.value)" name="formBilling">
    <!-- <button mat-button type="submit" class="submit">Ready to Billing...</button> -->
    <table mat-table [dataSource]="dataSource" class="col-md-12 col-sm-12 col-xs-12" formArrayName="billArray">
      
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Index" >
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let index = index"> {{index+1}} </td>
        <td mat-footer-cell *matFooterCellDef> Total ₹ </td>
      </ng-container> 
       <ng-container matColumnDef="productID">
            <th mat-header-cell *matHeaderCellDef>Product ID</th>
            <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index" >
              <!-- <input type="text"  name="productID" formControlName="productID"> [formControl]="productIDs[index]"-->
              
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" matInput  formControlName="productID"  name="productID" [matAutocomplete]="auto" required>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of stockData" [value]="option.productId">
                    {{option.productId}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

               </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>
     
      <!-- Name Column -->
      
      <ng-container matColumnDef="stockName">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
          <!-- <input type="text"  name="stockName" formControlName="stockName">  -->
          <mat-form-field class="example-full-width">
              <input type="text" placeholder="Pick one" matInput  formControlName="productName"  name="productName" [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="GetProductDetails($event)" >
                <mat-option *ngFor="let option of stockData" [value]="option.productName">
                  {{option.productName}} 
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field>
              <select matNativeControl formControlName="productName"  name="productName" (change)="GetProductDetails($event)" required>
                <optgroup label="" *ngFor="let option of stockData">
                  <option [value]="option.productName ">{{option.productName}}</option>
                  
                </optgroup>
              </select> 
            </mat-form-field> -->
           <!-- <mat-form-field>
                <mat-select placeholder="Favorite food" formControlName="productName"  name="productName" (ngModelChange)="GetProductDetails($event, option.$Key)">
                  <mat-option *ngFor="let option of stockData" [value]="option.productName"  (ngModelChange)="GetProductDetails($event, option.$Key)">
                      {{option.productName}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="stockQuan">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index"><input type="text" name="stockQuan" formControlName="stockQuan"  required (change)="quantity(formBilling.value)">  </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <ng-container matColumnDef="stockPrice">
        <th mat-header-cell *matHeaderCellDef>Price Per Product</th>
        <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index"><input type="text" name="stockPrice" formControlName="stockPrice" required (change)="price(formBilling.value)"></td>
        <td mat-footer-cell *matFooterCellDef>TOTAL {{BillTot}} + GST 18%  {{GstTot}}</td>
      </ng-container>
      <ng-container matColumnDef="stockGST">
          <th mat-header-cell *matHeaderCellDef>GST</th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index"><input type="text" name="stockGST" formControlName="stockGST"> </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

      <ng-container matColumnDef="stockTotal">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element let index = index" [formGroupName]="index"> 
         <!--{{TotalPrice}}   --> 
          <input type="text" name="ItemTotalPrice"  [(ngModel)]="TotalPrice[index]" formControlName="ItemTotalPrice" readonly>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <!-- <input type="text" name="billTotal" formControlName="billTotal"> -->
          {{ getTotalCost()}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element let index = index" [formGroupName]="index"> 
              
              <mat-icon class="left func_Icon" matTooltip="Delete Stock" (click)="emptyTable(index)">clear</mat-icon>
              <mat-icon class="left func_Icon" matTooltip="Update Stock">
                create
             </mat-icon>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

      
            

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      
    </table>
    <mat-paginator [length]="pageLength"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </form>
  </div>
</div>

test {{formBilling.valid}}